

* {
            font-family: Franklin;
            margin: 0
        }
        
        @font-face {
            font-family: Franklin;
            src: url(../franklin.ttf)
        }
        
        @font-face {
            font-family: Pedra;
            line-height: 10px;
            src: url(../pedra.ttf)
        }
        
        
        
        .version {
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            font-size: 13px;
            justify-content: flex-end;
            right: 5px;
            top: 5px;
            width: 110px
        }
        
        .button
        {
            position: absolute
        }
        
        .button {
            background-color: #03a9f4;
            margin-left: -30px;
            width: 30px
        }
        
        .clearcookies {
            background: #a9a9a9;
            height: 20px;
            text-align: center;
            width: 770px
        }
        
        .clearcookies b {
            color: crimson
        }
        
       
        
        .settings {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            left: 60px;
            padding-left: 60px;
            position: absolute;
            text-align: center;
            top: 60px;
            width: 320px
        }
        
        .span_language {
            color: #7d6f4c;
            font-size: 12px;
            margin-top: 72px;
            position: absolute;
            width: 210px
        }
        
        .volume label {
            margin-right: 10px
        }
        
        .language {
            position: absolute;
            top: 40px
        }
        
        .fullscreen {
            background: #fff
        }
        
        
        
        html {
            cursor: none;
            touch-action: manipulation
        }
        
        .display {
            -webkit-animation-duration: .2s;
            animation-duration: .2s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: disp;
            animation-name: disp;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            background-color: #000;
            height: 560px;
            opacity: .2;
            position: absolute;
            top: 0;
            width: 770px;
            z-index: 998
        }
        
        @-webkit-keyframes disp {
            0% {
                opacity: 0
            }
            to {
                opacity: .2
            }
        }
        
        @keyframes disp {
            0% {
                opacity: 0
            }
            to {
                opacity: .2
            }
        }
        
        .holders {
            background-image: url(../images/choose.png);
            height: 290px;
            left: 203px;
            position: absolute;
            top: 101px;
            width: 391px;
            z-index: 999
        }
        
        .cori {
            color: #bd262c
        }
        
        .holders img {
            border: 1px solid #000;
            left: 120px;
            position: absolute;
            top: 70px
        }
        
        .holdanimes {
            -webkit-animation-duration: .2s;
            animation-duration: .2s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: hold;
            animation-name: hold;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear
        }
        
        @-webkit-keyframes hold {
            0% {
                transform: scale(.5);
                will-change: transform
            }
            to {
                transform: scale(1);
                will-change: transform
            }
        }
        
        @keyframes hold {
            0% {
                transform: scale(.5);
                will-change: transform
            }
            to {
                transform: scale(1);
                will-change: transform
            }
        }
        
        
        
        
        
        .rascunho {
            opacity: .5;
            position: absolute
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        @-webkit-keyframes roda {
            0% {
                clip: rect(0, 697px, 222px, 697px)
            }
            to {
                clip: rect(0, 697px, 222px, 0)
            }
        }
        
        @keyframes roda {
            0% {
                clip: rect(0, 697px, 222px, 697px)
            }
            to {
                clip: rect(0, 697px, 222px, 0)
            }
        }
        
        
        
        
        
        
        
        
        
        
        
        
        .personagem2 {
            height: 48px;
            opacity: .5
        }
        
        
        
        .flip-list-move {
            transition: transform .5s
        }
        
        .no-move {
            transition: transform .2s
        }
        
        .ghost {
            opacity: 0
        }
        
        .personagem_fundo2 {
            background-color: #e1d6b2
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        .pergtopo {
            background-image: url(../images/selection/perg.png);
            height: 239px;
            left: 680px;
            position: absolute;
            top: 15px;
            width: 46px;
            z-index: 1
        }
        
        .pergtopoa {
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: topoo;
            animation-name: topoo;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease
        }
        
        .pergtopoa,
        .pergtopoaend {
            -webkit-animation-duration: .6s;
            animation-duration: .6s
        }
        
        .pergtopoaend {
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: topoorevert;
            animation-name: topoorevert;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease
        }
        
        @-webkit-keyframes topoo {
            0% {
                left: 168px;
                opacity: 1
            }
            to {
                left: 680px
            }
        }
        
        @keyframes topoo {
            0% {
                left: 168px;
                opacity: 1
            }
            to {
                left: 680px
            }
        }
        
        @-webkit-keyframes topoorevert {
            0% {
                left: 680px
            }
            to {
                left: 141px
            }
        }
        
        @keyframes topoorevert {
            0% {
                left: 680px
            }
            to {
                left: 141px
            }
        }
        
        .topo {
            clip: rect(0, 0, 222px, 0);
            left: 168px;
            top: 37px;
            width: 500px;
            z-index: 1
        }
        
        .topoa {
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: clipa;
            animation-name: clipa;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease
        }
        
        .topoa,
        .topoaend {
            -webkit-animation-duration: .6s;
            animation-duration: .6s
        }
        
        .topoaend {
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: cliparevert;
            animation-name: cliparevert;
            -webkit-animation-timing-function: ease;
            animation-timing-function: ease
        }
        
        @-webkit-keyframes clipa {
            0% {
                clip: rect(0, 0, 222px, 0)
            }
            to {
                clip: rect(0, 550px, 222px, 0)
            }
        }
        
        @keyframes clipa {
            0% {
                clip: rect(0, 0, 222px, 0)
            }
            to {
                clip: rect(0, 550px, 222px, 0)
            }
        }
        
        @-webkit-keyframes cliparevert {
            0% {
                clip: rect(0, 550px, 222px, 0)
            }
            to {
                clip: rect(0, 0, 222px, 0)
            }
        }
        
        @keyframes cliparevert {
            0% {
                clip: rect(0, 550px, 222px, 0)
            }
            to {
                clip: rect(0, 0, 222px, 0)
            }
        }
        
        .nome {
            color: #b91921;
            font-size: 15px;
            left: 1px;
            position: absolute;
            width: 498px
        }
        
        .foto {
            position: absolute;
            top: 19px
        }
        
        .foto,
        .fotolista {
            height: 75px;
            width: 75px
        }
        
        .nomeskill {
            color: #b91921;
            font-size: 14px;
            left: 1px;
            top: 108px;
            width: 295px
        }
        
        .desc,
        .nomeskill {
            position: absolute
        }
        
        .desc {
            font-size: 12px;
            height: 59px;
            left: 2px;
            overflow-y: auto;
            scrollbar-color: #fff #8c8c8cbf;
            scrollbar-width: thin;
            top: 123px;
            width: 415px
        }
        
        .classes {
            left: 3px
        }
        
        .classes,
        .cooldowns {
            color: #877956;
            font-size: 10px;
            position: absolute;
            top: 180px;
            width: 295px
        }
        
        .cooldowns {
            left: 303px
        }
        
        .listaskills {
            display: flex;
            left: 163px;
            overflow-x: auto;
            position: absolute;
            scrollbar-color: #fff #8c8c8cbf;
            scrollbar-width: thin;
            top: 32px;
            width: 380px
        }
        
        .listaskills2 {
            width: 324px!important
        }
        
        @-webkit-keyframes seta {
            0% {
                right: 30px
            }
            to {
                right: 20px
            }
        }
        
        @keyframes seta {
            0% {
                right: 30px
            }
            to {
                right: 20px
            }
        }
        
        .sidebar {
            position: absolute;
            width: 550px
        }
        
        .sidebar:after {
            -webkit-animation: seta .4s ease-in 0s infinite alternate;
            animation: seta .4s ease-in 0s infinite alternate;
            color: rgba(0, 0, 0, .58);
            content: "→";
            font-size: 25px;
            position: absolute;
            right: 30px;
            top: 5px
        }
        
        .listaskills li {
            left: -39px;
            list-style: none;
            margin-right: 18px;
            position: relative
        }
        
        .fotoskill {
            height: 75px;
            left: 449px;
            position: absolute;
            top: 123px;
            width: 75px
        }
        
        .energys {
            color: #877956;
            font-size: 10px;
            left: 303px;
            position: absolute;
            top: 110px;
            width: 200px
        }
        
        .energys ul {
            left: -3px;
            position: absolute;
            top: 1px;
            width: 160px
        }
        
        .energys ul li {
            display: inline-block;
            margin-right: 4px
        }
        
        .topo {
            clip: rect(0, 545px, 222px, 0);
            background-image: url(../images/selection/rodape.jpg);
            height: 222px;
            left: 141px;
            top: 24px;
            width: 697px
        }
        
        .conteudo,
        .topo {
            position: absolute
        }
        
        .conteudo {
            left: 27px;
            top: 13px
        }
        
        .lds-hourglass2 {
            display: inline-block;
            height: 80px;
            left: 170px;
            position: absolute;
            top: 100px;
            width: 80px
        }
        
        .lds-hourglass2:after {
            border-color: #78c618 transparent;
            border-radius: 50%;
            border-style: solid;
            border-width: 32px;
            box-sizing: border-box;
            content: " ";
            display: block;
            height: 0;
            margin: 8px;
            width: 0
        }
        
        .lds-hourglass {
            display: inline-block;
            height: 80px;
            left: 170px;
            position: absolute;
            top: 100px;
            width: 80px
        }
        
        .lds-hourglass:after {
            -webkit-animation: lds-hourglass 1.2s infinite;
            animation: lds-hourglass 1.2s infinite;
            border-color: #be2911 transparent;
            border-radius: 50%;
            border-style: solid;
            border-width: 32px;
            box-sizing: border-box;
            content: " ";
            display: block;
            height: 0;
            margin: 8px;
            width: 0
        }
        
        @-webkit-keyframes lds-hourglass {
            0% {
                -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
                animation-timing-function: cubic-bezier(.55, .055, .675, .19);
                transform: rotate(0)
            }
            50% {
                -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
                animation-timing-function: cubic-bezier(.215, .61, .355, 1);
                transform: rotate(900deg)
            }
            to {
                transform: rotate(5turn)
            }
        }
        
        @keyframes lds-hourglass {
            0% {
                -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
                animation-timing-function: cubic-bezier(.55, .055, .675, .19);
                transform: rotate(0)
            }
            50% {
                -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
                animation-timing-function: cubic-bezier(.215, .61, .355, 1);
                transform: rotate(900deg)
            }
            to {
                transform: rotate(5turn)
            }
        }
        
        .rbattle {
            left: 61px;
            top: 50px;
            width: 317px
        }
        
        .rbattle,
        .rbattlelogin {
            position: absolute;
            text-align: center
        }
        
        .rbattlelogin {
            font-size: 14px;
            left: 100px;
            top: 60px;
            width: 255px
        }
        
        .lusername {
            top: 115px
        }
        
        .lpassword,
        .lusername {
            font-size: 15px;
            left: 100px;
            position: absolute
        }
        
        .lpassword {
            top: 150px
        }
        
        .lerror {
            color: #c00;
            font-size: 14px;
            left: 110px;
            position: absolute;
            top: 185px
        }
        
        .usertext {
            top: 114px
        }
        
        .passtext,
        .usertext {
            border: 1px solid #000;
            font-size: 15px;
            height: 20px;
            left: 175px;
            position: absolute;
            width: 140px
        }
        
        .passtext {
            top: 147px
        }
        
        .pbent {
            left: 61px;
            position: absolute;
            text-align: center;
            top: 120px;
            width: 317px
        }
        
        .pbtext {
            font-size: 15px;
            height: 20px;
            left: 110px;
            top: 140px;
            width: 215px
        }
        
        .btncancels,
        .pbtext {
            border: 1px solid #000;
            position: absolute;
            text-align: center
        }
        
        .btncancels {
            left: 170px
        }
        
        .btncancel2s,
        .btncancels {
            background-color: #fbe9b8;
            color: #000;
            height: 25px;
            top: 220px;
            width: 88px
        }
        
        .btncancel2s {
            border: 1px solid #000;
            left: 236px;
            position: absolute;
            text-align: center
        }
        
        .btncancel2s span {
            font-family: Pedra;
            position: relative;
            top: 4px
        }
        
        .btnoks {
            background-color: #fbe9b8;
            border: 1px solid #000;
            color: #000;
            height: 25px;
            left: 106px;
            position: absolute;
            text-align: center;
            top: 220px;
            width: 88px
        }
        
        .btnoks span {
            font-family: Pedra;
            position: relative;
            top: 4px
        }
        
        .rbat {
            left: 61px;
            position: absolute;
            text-align: center;
            top: 220px;
            width: 317px
        }
        
        .btncancels span {
            font-family: Pedra;
            position: relative;
            top: 4px
        }
        
        ::-webkit-scrollbar {
            height: 8px;
            width: 5px
        }
        
        ::-webkit-scrollbar-track {
            background: #fff;
            border: 1px solid #000
        }
        
        ::-webkit-scrollbar-thumb {
            background-color: #8c8c8cbf
        }
        
        * {
            font-family: Franklin;
            line-height: normal;
            margin: 0
        }
        
        @font-face {
            font-family: Franklin;
            line-height: 10px;
            src: url(../franklin.ttf)
        }
        
        @font-face {
            font-family: Pedra;
            line-height: 10px;
            src: url(../pedra.ttf)
        }
        
        html {
            cursor: none;
            touch-action: manipulation
        }
        
 
        
        .button {
            background-color: #03a9f4;
            margin-left: -30px;
            position: absolute;
            width: 30px
        }
        
        
        
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s
        }
        
        .fade-enter,
        .fade-leave-to {
            opacity: 0
        }
        
        
        
        .item {
            background-size: 34px;
            border: 1px solid #000;
            height: 34px;
            margin-left: 8px;
            width: 34px;
            z-index: 1000
        }
        
        .escalar {
            border: 1px solid green;
            z-index: 1000
        }
        
        .container {
            height: 47px;
            left: 77px;
            overflow-x: auto;
            position: absolute;
            scrollbar-color: #c8c8c8 #8c8c8cbf;
            scrollbar-width: thin;
            top: 172px;
            width: 280px;
            z-index: 1000
        }
        
        .container span {
            display: flex;
            width: 280px
        }
        
        .holdanime {
            -webkit-animation-duration: .2s;
            animation-duration: .2s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: hold;
            animation-name: hold;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear
        }
        
        @-webkit-keyframes hold {
            0% {
                transform: scale(.5);
                will-change: transform
            }
            to {
                transform: scale(1);
                will-change: transform
            }
        }
        
        @keyframes hold {
            0% {
                transform: scale(.5);
                will-change: transform
            }
            to {
                transform: scale(1);
                will-change: transform
            }
        }
        
        .disabled {
            opacity: .3
        }
        
        .cooldown {
            align-items: center;
            color: #000;
            display: flex;
            font-family: Pedra;
            font-size: 40px;
            height: 54px;
            justify-content: center;
            position: absolute;
            right: 0;
            text-align: center;
            top: 7px;
            width: 54px
        }
        
        
        
        .display {
            -webkit-animation-duration: .2s;
            animation-duration: .2s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: disp;
            animation-name: disp;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            background-color: #000;
            height: 560px;
            opacity: .2;
            position: absolute;
            width: 770px;
            z-index: 998
        }
        
        @-webkit-keyframes disp {
            0% {
                opacity: 0
            }
            to {
                opacity: .2
            }
        }
        
        @keyframes disp {
            0% {
                opacity: 0
            }
            to {
                opacity: .2
            }
        }
        
        .holder {
            background-image: url(../images/choose.png);
            height: 290px;
            left: 203px;
            top: 101px;
            width: 391px;
            z-index: 999
        }
        
        .holder,
        .loadshu {
            position: absolute
        }
        
        .loadshu {
            height: 560px;
            left: 0;
            pointer-events: none;
            top: 0;
            width: 770px;
            z-index: 2000
        }
        
        .endgame {
            background-image: url(../images/endgame.png);
            height: 322px;
            left: 64px;
            position: absolute;
            top: 112px;
            width: 642px;
            z-index: 999
        }
        
        .txtnoexchange {
            color: #000;
            left: 75px;
            position: absolute;
            top: 20px;
            width: 300px
        }
        
        .txtsurrender {
            left: 60px;
            text-align: center;
            top: 40px;
            width: 320px
        }
        
        .txtexchange,
        .txtsurrender {
            color: #000;
            position: absolute
        }
        
        .txtexchange {
            left: 130px;
            top: 78px
        }
        
        .txtendgame {
            color: #000;
            font-size: 13px;
            height: 160px;
            left: 341px;
            position: absolute;
            top: 83px;
            width: 280px
        }
        
        .endgame img {
            left: 82px;
            position: absolute;
            top: 48px
        }
        
        .txtroundup {
            color: #000;
            left: 130px;
            position: absolute;
            top: 44px
        }
        
        .textleft {
            font-size: 13px;
            left: -90px;
            list-style: none;
            position: absolute;
            top: 43px
        }
        
        .ex {
            width: 100px
        }
        
        .ex,
        .ex2 {
            display: flex;
            justify-content: space-between
        }
        
        .ex2 {
            margin-top: -1px;
            width: 40px
        }
        
        .textleft li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3.5px;
            width: 265px
        }
        
        .textleft li img {
            height: 10px;
            margin-top: 2px;
            width: 10px
        }
        
        .textright {
            font-size: 13px;
            left: 93px;
            list-style: none;
            position: absolute;
            top: 43px
        }
        
        .textright li {
            margin-bottom: 3.5px
        }
        
        .energyleft2 {
            left: -90px;
            list-style: none;
            position: absolute;
            top: 41px
        }
        
        .energyleft2 li {
            margin-bottom: .5px
        }
        
        .energyright2 {
            left: 80px;
            list-style: none;
            position: absolute;
            top: 41px
        }
        
        .energyright2 li {
            margin-bottom: .5px
        }
        
        .chp1 {
            left: -2px
        }
        
        .chp1,
        .chp2 {
            position: absolute;
            top: -1px;
            width: 312px
        }
        
        .chp2 {
            left: 65px
        }
        
        .enp1 {
            left: -51px
        }
        
        .enp1,
        .enp2 {
            font-size: 14px;
            position: absolute;
            top: 25px;
            width: 312px
        }
        
        .enp2 {
            left: 119px
        }
        
        .energyleft {
            font-size: 14px;
            list-style: none;
            position: absolute;
            top: 42px
        }
        
        .energyleft li {
            margin-bottom: 2.5px
        }
        
        .min,
        .plus {
            height: 14px!important;
            width: 14px!important
        }
        
        .chooseenergy {
            list-style: none;
            margin-left: -1px;
            margin-top: -33px
        }
        
        .chooseenergy li {
            display: inline-block;
            height: 20px;
            margin-right: 10px;
            margin-top: 5px;
            width: 20px
        }
        
        .chooseenergy li img {
            margin-left: 5px;
            position: absolute;
            top: -23px
        }
        
        .randomenergy {
            font-size: 14px;
            left: 171px;
            list-style: none;
            position: absolute;
            top: 42px
        }
        
        .randomenergy li {
            margin-bottom: 2.5px
        }
        
        .btnok {
            background-color: #fbe9b8;
            border: 1px solid #000;
            color: #000;
            height: 25px;
            left: 106px;
            position: absolute;
            text-align: center;
            top: 220px;
            width: 88px;
            z-index: 1000
        }
        
        .btnok span {
            font-family: Pedra;
            position: relative;
            top: 4px
        }
        
        .no_exchange {
            left: 165px
        }
        
        .surrenderimg {
            border: 1px solid #000;
            left: 120px;
            position: absolute;
            top: 70px
        }
        
        .reaction_exibition {
            right: 140px
        }
        
        .my_reaction_exibition,
        .reaction_exibition {
            display: flex;
            height: auto;
            justify-content: center;
            position: absolute;
            top: 75px;
            width: 200px;
            z-index: 999
        }
        
        .my_reaction_exibition {
            left: 147px
        }
        
        .my_reaction_exibition .cont,
        .reaction_exibition .cont {
            background-color: #f3e7cb;
            border: 1px solid #000;
            padding: 5px;
            position: absolute;
            top: -1px
        }
        
        .my_reaction_exibition .cont img,
        .reaction_exibition .cont img {
            width: 50px
        }
        
        .my_reaction_exibition:after,
        .reaction_exibition:after {
            border: 7px solid transparent;
            border-bottom-color: #000;
            content: "";
            left: 50%;
            margin-left: -5px;
            position: absolute;
            top: -15px
        }
        
        .reactions_list_txt {
            display: flex;
            flex-wrap: wrap;
            height: 126px;
            justify-content: center;
            margin-left: -73px;
            margin-top: 15px;
            position: absolute;
            width: 355px
        }
        
        .reactions_list_txt li {
            background-color: #f3e7cb;
            border: 1px solid #000;
            height: 23px;
            list-style: none;
            margin-bottom: 5px;
            padding-top: 4px;
            text-align: center;
            width: 250px
        }
        
        .reactions_emoj {
            display: flex;
            height: 47px;
            margin-top: 150px;
            overflow-x: auto;
            overflow-y: hidden;
            position: absolute;
            scrollbar-color: #c8c8c8 #8c8c8cbf;
            scrollbar-width: thin;
            width: 250px
        }
        
        .reactions_emoj li {
            left: -40px;
            list-style: none;
            margin-right: 10px;
            position: relative;
            width: 34px
        }
        
        .reactions_emoj li img {
            background-color: #f3e7cb;
            border: 1px solid #000;
            height: 34px;
            width: 34px
        }
        
        .btncancel {
            background-color: #fbe9b8;
            border: 1px solid #000;
            color: #000;
            height: 25px;
            left: 236px;
            position: absolute;
            text-align: center;
            top: 220px;
            width: 88px;
            z-index: 1000
        }
        
        .endtitle {
            font-size: 44px;
            left: 423px;
            top: 34px
        }
        
        .btncontinue,
        .endtitle {
            color: #bd262c;
            position: absolute
        }
        
        .btncontinue {
            font-size: 25px;
            height: 30px;
            left: 417px;
            text-align: center;
            top: 250px;
            width: 120px
        }
        
        .btncancel span {
            font-family: Pedra;
            position: relative;
            top: 4px
        }
        
        .random {
            color: #bd262c;
            left: 47px;
            position: absolute;
            text-align: center;
            top: -1px;
            width: 20px
        }
        
        .custom {
            -webkit-animation-duration: 20s;
            animation-duration: 20s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-name: bg;
            animation-name: bg;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear
        }
        
        @-webkit-keyframes bg {
            0% {
                transform: translateX(-726px);
                will-change: transform
            }
            to {
                transform: translateX(0);
                will-change: transform
            }
        }
        
        @keyframes bg {
            0% {
                transform: translateX(-726px);
                will-change: transform
            }
            to {
                transform: translateX(0);
                will-change: transform
            }
        }
        
        .sakura {
            background-repeat: no-repeat;
            height: 494px;
            left: 390px;
            position: absolute;
            top: 85px;
            width: 405px
        }
        
        .render_opp_turn {
            transform: translateX(340px);
            transition: transform .7s;
            transition-delay: .3s;
            will-change: transform
        }
        
        .render_opp_turn2 {
            transform: translateX(430px);
            transition: transform .7s;
            transition-delay: .8s;
            will-change: transform
        }
        
        .render_my_turn {
            transition: transform .6s;
            transition-delay: .4s
        }
        
        .render_my_turn,
        .render_my_turn2 {
            transform: translateX(0);
            will-change: transform
        }
        
        .render_my_turn2 {
            transition: transform .6s;
            transition-delay: .7s
        }
        
        .sasuke {
            background-repeat: no-repeat;
            height: 494px;
            left: 340px;
            position: absolute;
            top: 85px;
            width: 405px
        }
        
        .mc_top {
            height: 85px;
            width: 770px
        }
        
        .mc_play1,
        .mc_top {
            position: absolute;
            top: 0
        }
        
        .mc_play1 {
            height: 60px;
            width: 273px
        }
        
        .mc_play2 {
            height: 60px;
            left: 506px;
            width: 265px
        }
        
        .mc_control,
        .mc_play2 {
            position: absolute;
            top: 0
        }
        
        .mc_control {
            height: 85px;
            left: 280px;
            width: 220px
        }
        
        .mc_bar_system {
            height: 35px;
            left: 10px;
            position: absolute;
            top: 10px;
            width: 200px
        }
        
        .mc_bar_back {
            background-color: #fff;
            border: 1px solid #000;
            height: 10px;
            left: 3px;
            position: absolute;
            top: 18px;
            width: 191px
        }
        
        .mc_bar_fill {
            background-color: #ba1921;
            height: 10px;
            width: 191px
        }
        
        .mc_bar_ready {
            color: #151311;
            position: absolute;
            text-align: center;
            width: 100%
        }
        
        .mc_energy_system {
            height: 30px;
            left: 10px;
            position: absolute;
            top: 50px;
            width: 200px
        }
        
        .mc_energy_bar {
            background-image: url(../images/energy_bar.png);
            background-repeat: no-repeat;
            height: 10px;
            left: 3px;
            position: absolute;
            top: -1px;
            width: 175px
        }
        
        .mc_energy_txt strong {
            font-weight: 400;
            margin-right: 26px
        }
        
        .mc_energy_txt .energy0 {
            left: 2px;
            position: absolute
        }
        
        .mc_energy_txt .energy1 {
            left: 42px;
            position: absolute
        }
        
        .mc_energy_txt .energy2 {
            left: 83px;
            position: absolute
        }
        
        .mc_energy_txt .energy3 {
            left: 124px;
            position: absolute
        }
        
        .mc_energy_txt .energy4 {
            left: 165px;
            position: absolute
        }
        
        .mc_energy_txt {
            color: #000;
            font-size: 14px;
            left: 15px;
            position: absolute;
            top: -4px;
            width: 235px
        }
        
        .mc_energy_exchange {
            color: #151311;
            font-size: 12px;
            height: 15px;
            position: absolute;
            text-align: center;
            top: 12px;
            width: 200px;
            z-index: 997
        }
        
        .mc_username1 {
            color: #bd262c;
            font-size: 20px;
            margin-top: 22px
        }
        
        .mc_username1,
        .mc_userrank1 {
            text-align: right;
            width: 215px
        }
        
        .mc_userrank1 {
            color: #151311;
            margin-top: -1px
        }
        
        .mc_avatar1 {
            left: 223px;
            pointer-events: none;
            top: 9px
        }
        
        .mc_avatar1,
        .mc_avatar1 img {
            height: 48px;
            position: absolute;
            width: 48px
        }
        
        .mc_avatar1 img {
            border: 1px solid #151311
        }
        
        .mc_username2 {
            color: #bd262c;
            font-size: 20px;
            margin-top: 22px
        }
        
        .mc_username2,
        .mc_userrank2 {
            margin-left: 58px;
            text-align: left;
            width: 215px
        }
        
        .mc_userrank2 {
            color: #151311;
            margin-top: -1px
        }
        
        .mc_avatar2 {
            left: 0;
            pointer-events: none;
            top: 9px
        }
        
        .mc_avatar2,
        .mc_avatar2 img {
            height: 48px;
            position: absolute;
            width: 48px
        }
        
        .mc_avatar2 img {
            border: 1px solid #151311
        }
        
        .mc_combat {
            top: 45px
        }
        
        .mc_char_00,
        .mc_char_01,
        .mc_combat {
            position: absolute
        }
        
        .mc_char_01 {
            top: 121px
        }
        
        .mc_char_02 {
            position: absolute;
            top: 242px
        }
        
        .mc_char_10,
        .mc_char_11 {
            height: 130px;
            left: 658px;
            position: absolute;
            width: 110px
        }
        
        .mc_char_11 {
            top: 121px
        }
        
        .mc_char_12 {
            height: 130px;
            left: 658px;
            top: 242px
        }
        
        .mc_char_12,
        .mc_char_card {
            position: absolute;
            width: 110px
        }
        
        .mc_char_card {
            height: 115px
        }
        
        .mc_char_card_rank2 {
            z-index: 2
        }
        
        .mc_char_card_rank,
        .mc_char_card_rank2 {
            pointer-events: none;
            position: absolute;
            top: -12px
        }
        
        .mc_char_card_rank {
            z-index: 3
        }
        
        .mc_char_card_avatar {
            left: 32px;
            pointer-events: none;
            position: absolute;
            top: 18px;
            z-index: 2
        }
        
        .mc_char_card_avatar_en {
            left: 79px
        }
        
        .choose,
        .nochoose {
            align-items: center;
            background-color: #ff0;
            display: flex;
            height: 75px;
            justify-content: center;
            left: 33px;
            opacity: .6;
            pointer-events: none;
            position: absolute;
            top: 19px;
            width: 75px;
            z-index: 2
        }
        
        .choose {
            -webkit-animation: opacidade .8s infinite alternate;
            animation: opacidade .8s infinite alternate
        }
        
        @-webkit-keyframes opacidade {
            0% {
                opacity: .6
            }
            to {
                opacity: .2
            }
        }
        
        @keyframes opacidade {
            0% {
                opacity: .6
            }
            to {
                opacity: .2
            }
        }
        
        .mc_char_card_avatar .abs {
            border: 1px solid #000;
            height: 75px;
            position: absolute;
            width: 75px
        }
        
        .mc_char_card_avatar_pulse {
            left: 1px;
            position: absolute;
            top: 1px
        }
        
        .mc_char_card_avatar_pulse img {
            border: none
        }
        
        .revert {
            transform: scaleX(-1)
        }
        
        .mc_char_card_lifebar {
            background-color: #fff;
            border: 1px solid #000;
            height: 14px;
            left: 32px;
            position: absolute;
            top: 97px;
            width: 75px;
            z-index: 2
        }
        
        .en {
            left: 2px!important
        }
        
        .en2 {
            left: 3px!important
        }
        
        #bar_00,
        #bar_01,
        #bar_02,
        #bar_10,
        #bar_11,
        #bar_12 {
            background-color: #3bdf3f;
            height: 14px;
            position: absolute;
            width: 75px
        }
        
        .mc_char_card_lifetext {
            color: #151311;
            font-size: 12px;
            height: 14px;
            position: absolute;
            text-align: center;
            width: 74px
        }
        
        .mc_char_section_perg {
            background-image: url(../images/perg.png);
            background-repeat: no-repeat;
            height: 88px;
            left: 81px;
            position: absolute;
            top: 38px;
            width: 25px
        }
        
        .mask {
            clip: rect(0, 381px, 79px, 0);
            left: 103px;
            top: 43px
        }
        
        .mask,
        .mc_char_section_skill {
            height: 79px;
            position: absolute;
            width: 381px
        }
        
        .mc_char_section_skill {
            background-image: url(../images/skillsdiv.png);
            background-repeat: no-repeat;
            left: 0
        }
        
        .my_turn {
            transform: translateX(0);
            transition: transform .5s;
            will-change: transform
        }
        
        .pulse {
            -webkit-animation-duration: 1.1s;
            animation-duration: 1.1s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: pulse;
            animation-name: pulse;
            left: 0;
            position: absolute;
            top: 0
        }
        
        @-webkit-keyframes pulse {
            0% {
                opacity: 1;
                transform: scale(1);
                will-change: transform
            }
            to {
                opacity: 0;
                transform: scale(2);
                will-change: transform
            }
        }
        
        @keyframes pulse {
            0% {
                opacity: 1;
                transform: scale(1);
                will-change: transform
            }
            to {
                opacity: 0;
                transform: scale(2);
                will-change: transform
            }
        }
        
        .pulseenemy {
            position: relative;
            z-index: 2
        }
        
        .rankenemy {
            position: absolute;
            right: 0
        }
        
        .pulse_avt {
            -webkit-animation-duration: 1.1s;
            animation-duration: 1.1s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-name: pulse_avt;
            animation-name: pulse_avt;
            left: 33px;
            position: absolute;
            top: 19px
        }
        
        @-webkit-keyframes pulse_avt {
            0% {
                opacity: 1;
                transform: scale(1);
                will-change: transform
            }
            to {
                opacity: 0;
                transform: scale(2);
                will-change: transform
            }
        }
        
        @keyframes pulse_avt {
            0% {
                opacity: 1;
                transform: scale(1);
                will-change: transform
            }
            to {
                opacity: 0;
                transform: scale(2);
                will-change: transform
            }
        }
        
        .mc_char_section_skill_opp_turn {
            background-image: url(../images/skillsdiv.png);
            background-repeat: no-repeat;
            height: 79px;
            left: -80px;
            position: absolute;
            width: 381px
        }
        
        .opp_turn {
            transform: translateX(-77px);
            transition: transform .5s;
            will-change: transform
        }
        
        .mc_char_section_selected {
            background-image: url(../images/skillact.png);
            background-repeat: no-repeat;
            height: 56px;
            left: 22px;
            position: absolute;
            top: 11px;
            width: 56px
        }
        
        .mc_char_section_skills {
            height: 56px;
            left: 22px;
            position: absolute;
            top: 11px;
            width: 350px
        }
        
        .mc_char_section_skills .skillimg0 {
            border: 1px solid #000;
            display: inline-block;
            height: 54px;
            left: 76px;
            margin-right: 6px;
            position: absolute;
            width: 54px
        }
        
        .mc_char_section_skills .skillimgselected0 {
            transform: translateX(-76px);
            transition: transform .4s;
            will-change: transform
        }
        
        .mc_char_section_skills .skillimg1 {
            border: 1px solid #000;
            display: inline-block;
            height: 54px;
            left: 138px;
            margin-right: 6px;
            position: absolute;
            width: 54px
        }
        
        .mc_char_section_skills .skillimgselected1 {
            transform: translateX(-138px);
            transition: transform .4s;
            will-change: transform
        }
        
        .mc_char_section_skills .skillimg2 {
            border: 1px solid #000;
            display: inline-block;
            height: 54px;
            left: 200px;
            margin-right: 6px;
            position: absolute;
            width: 54px
        }
        
        .mc_char_section_skills .skillimgselected2 {
            transform: translateX(-200px);
            transition: transform .5s;
            will-change: transform
        }
        
        .mc_char_section_skills .skillimg3 {
            border: 1px solid #000;
            display: inline-block;
            height: 54px;
            left: 262px;
            margin-right: 6px;
            position: absolute;
            width: 54px
        }
        
        .mc_char_section_skills .skillimgselected3 {
            transform: translateX(-262px);
            transition: transform .5s;
            will-change: transform
        }
        
        .mc_char_section_skills img {
            height: 54px;
            pointer-events: none;
            width: 54px
        }
        
        .effects {
            display: flex;
            height: 22px;
            left: 114px;
            position: absolute;
            top: 18px;
            width: 400px
        }
        
        .effects_border0 {
            border: 1px solid #000;
            height: 20px;
            margin-right: 5px;
            position: relative;
            width: 20px
        }
        
        .effects1 {
            display: flex;
            left: -27px;
            position: absolute;
            top: 18px
        }
        
        .effects_border1 {
            border: 1px solid #000;
            height: 20px;
            margin-right: -49px;
            position: relative;
            width: 20px
        }
        
        .effects_border0:hover .tooltiptext {
            visibility: visible
        }
        
        .stack {
            color: #fff;
            display: flex;
            height: 22px;
            justify-content: center;
            position: absolute;
            text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;
            width: 22px
        }
        
        .effects_border0 img {
            height: 20px;
            width: 20px
        }
        
        .effects_border1:hover .tooltiptext {
            visibility: visible
        }
        
        .effects_border1 img {
            height: 20px;
            width: 20px
        }
        
        .zindex0 {
            z-index: 3
        }
        
        .zindex1 {
            z-index: 2
        }
        
        .zindex2 {
            z-index: 1
        }
        
        .tooltiptext {
            background-color: #f3e7cb;
            border: 1px solid #000;
            color: #151311;
            left: 0;
            min-width: 239px;
            padding-bottom: 5px;
            padding-left: 5px;
            padding-right: 5px;
            position: absolute;
            top: 25px;
            visibility: hidden;
            width: 120px;
            z-index: 1
        }
        
        .toolrev {
            left: -230px
        }
        
        .tooltiptextname {
            color: #bd262c;
            font-size: 12px;
            line-height: 16px
        }
        
        .tooltiptextdesc {
            display: block;
            font-size: 10px;
            line-height: 13px
        }
        
        .tooltiptextduration {
            color: #bd262c;
            display: block;
            font-size: 10px;
            margin-top: 1.8px
        }
        
        .mc_footer {
            position: absolute;
            top: 415px;
            width: 770px
        }
        
        .mc_render {
            background-repeat: no-repeat;
            height: 152px;
            left: 115px;
            position: absolute;
            width: 163px
        }
        
        .mc_render img {
            width: 150px
        }
        
        .mc_surrender {
            left: 53px;
            top: 11px
        }
        
        .mc_chat,
        .mc_surrender {
            clip: rect(0, 160px, 46px, 0);
            background-image: url(../images/menudiv.png);
            background-repeat: no-repeat;
            color: #151311;
            font-size: 13px;
            height: 46px;
            padding-left: 30px;
            padding-top: 16px;
            position: absolute;
            width: 182px
        }
        
        .mc_chat {
            left: 30px;
            top: 53px
        }
        
        .mc_chat img {
            position: absolute;
            width: 27px
        }
        
        .settings {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            left: 60px;
            padding-left: 60px;
            position: absolute;
            text-align: center;
            top: 60px;
            width: 320px
        }
        
        .span_language {
            color: #7d6f4c;
            font-size: 12px;
            margin-top: 72px;
            position: absolute;
            width: 210px
        }
        
        .volume label {
            margin-right: 10px
        }
        
        .language {
            position: absolute;
            top: 40px
        }
        
        .mc_volume {
            background-image: url(../images/menudiv.png);
            background-repeat: no-repeat;
            color: #151311;
            font-size: 13px;
            height: 46px;
            left: 7px;
            padding-left: 25px;
            padding-top: 16px;
            position: absolute;
            top: 94px;
            width: 182px
        }
        
        .mc_info {
            background-image: url(../images/infodiv.png);
            height: 134px;
            left: 247px;
            position: absolute;
            top: 10px;
            width: 523px
        }
        
        .mc_skill_icon {
            overflow-y: auto;
            scrollbar-color: #c8c8c8 #8c8c8cbf;
            scrollbar-width: thin;
            width: 400px
        }
        
        .mc_detaisl,
        .mc_skill_icon {
            display: flex;
            justify-content: center;
            margin-top: 3px
        }
        
        .mc_detaisl {
            color: #7d6f4c;
            font-size: 14px
        }
        
        .setadetails {
            height: 70px;
            left: -4px;
            position: absolute;
            top: 39px;
            width: 70px;
            z-index: 20
        }
        
        .setadetails img {
            height: 75px;
            transform: rotate(356deg);
            width: 55px
        }
        
        .skill_icon {
            border: 1px solid #000;
            height: 30px;
            margin-right: 5px;
            width: 30px
        }
        
        .mc_info_skills {
            display: flex;
            flex-wrap: wrap;
            height: 92px;
            margin-left: 32px;
            margin-top: 19px;
            overflow-x: auto;
            position: absolute;
            scrollbar-color: #c8c8c8 #8c8c8cbf;
            scrollbar-width: thin;
            width: 22px
        }
        
        .mc_info_skills_img {
            border: 1px solid #000;
            height: 20px;
            margin-top: 1px;
            width: 20px
        }
        
        .mc_info_div {
            margin-left: 30px;
            position: relative
        }
        
        .mc_info_avatar {
            left: 31px;
            pointer-events: none;
            position: absolute;
            top: 28px
        }
        
        .mc_info_avatar img {
            border: 1px solid #151311;
            height: 75px;
            position: absolute;
            width: 75px
        }
        
        .mc_info_avatar .mold {
            border: none;
            height: 94px;
            left: 77px;
            position: absolute;
            width: 94px
        }
        
        .mc_avatar1 .mold,
        .mc_avatar2 .mold {
            border: none;
            height: 61px;
            margin-left: -5px;
            margin-top: -6px;
            position: absolute;
            width: 60px
        }
        
        .mc_info_name {
            color: #bd262c;
            font-size: 15px;
            top: 25px
        }
        
        .mc_info_desc,
        .mc_info_name {
            left: 117px;
            position: absolute
        }
        
        .mc_info_desc {
            color: #151311;
            font-size: 12px;
            height: 56px;
            overflow-y: auto;
            scrollbar-color: #c8c8c8 #8c8c8cbf;
            scrollbar-width: thin;
            top: 40px;
            width: 400px
        }
        
        .mc_info_classlist {
            left: 117px
        }
        
        .mc_info_classlist,
        .mc_info_cooldown {
            color: #7d6f4c;
            font-size: 10px;
            position: absolute;
            top: 95px
        }
        
        .mc_info_cooldown {
            left: 418px
        }
        
        .mc_info_energy {
            color: #7d6f4c;
            font-size: 10px;
            left: 418px;
            position: absolute;
            top: 25px;
            width: 105px
        }
        
        .mc_info_energy_img {
            left: 35px;
            position: absolute;
            top: 1px
        }
        
        .mc_info_energy img {
            height: 10px;
            margin-right: 5px;
            width: 10px
        }
        
        .mc_info_team {
            left: 314px;
            pointer-events: none;
            top: 38px
        }
        
        .mc_info_team,
        .mc_info_team1 {
            position: absolute
        }
        
        .mc_info_team1 img {
            border: 1px solid #000;
            height: 55px;
            width: 55px
        }
        
        .mc_info_team2 {
            left: 66px;
            position: absolute
        }
        
        .mc_info_team2 img {
            border: 1px solid #000;
            height: 55px;
            width: 55px
        }
        
        .mc_info_team3 {
            left: 132px;
            position: absolute
        }
        
        .mc_info_team3 img {
            border: 1px solid #000;
            height: 55px;
            width: 55px
        }
        
        ::-webkit-scrollbar {
            width: 8px
        }
        
        ::-webkit-scrollbar-button {
            height: 5px;
            width: 8px
        }
        
        ::-webkit-scrollbar-track {
            background: #eee;
            border: thin solid #d3d3d3;
            box-shadow: inset 0 0 3px #dfdfdf
        }
        
        ::-webkit-scrollbar-thumb {
            background: #999;
            border: thin solid gray
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: #7d7d7d
        }
        
         @font-face {
            font-family: Franklin;
            line-height: 10px;
            src: url(../franklin.ttf)
        }
        
        .wrap[data-v-1897daa2] {
            display: block
        }
        
        .loading[data-v-1897daa2] {
            align-items: center;
            background-image: url(/images/selection/bg.jpg);
            color: azure;
            display: flex;
            font-family: Franklin;
            font-size: 15px;
            height: 100%;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%
        }
        
        .loading span[data-v-1897daa2] {
            -webkit-animation: dots-data-v-1897daa2 .6s cubic-bezier(.6, .1, 1, .4) infinite alternate;
            animation: dots-data-v-1897daa2 .6s cubic-bezier(.6, .1, 1, .4) infinite alternate;
            background: #fff;
            border-radius: 10px;
            display: inline-block;
            height: 10px;
            margin: 4px;
            width: 10px
        }
        
        .loading span[data-v-1897daa2]:first-child {
            -webkit-animation-delay: .1s;
            animation-delay: .1s
        }
        
        .loading span[data-v-1897daa2]:nth-child(2) {
            -webkit-animation-delay: .2s;
            animation-delay: .2s
        }
        
        .loading span[data-v-1897daa2]:nth-child(3) {
            -webkit-animation-delay: .3s;
            animation-delay: .3s
        }
        
        .loading span[data-v-1897daa2]:nth-child(4) {
            -webkit-animation-delay: .4s;
            animation-delay: .4s
        }
        
        .loading span[data-v-1897daa2]:nth-child(5) {
            -webkit-animation-delay: .5s;
            animation-delay: .5s
        }
        
        @-webkit-keyframes dots-data-v-1897daa2 {
            0% {
                transform: translateZ(0)
            }
            to {
                transform: translate3d(0, 30px, 0)
            }
        }
        
        @keyframes dots-data-v-1897daa2 {
            0% {
                transform: translateZ(0)
            }
            to {
                transform: translate3d(0, 30px, 0)
            }
        }